.login__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.login__form input {
  display: block;
  width: 358px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #cccccc;
  margin: 0;
  padding: 0 0 13px;
  color: #ccc;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.login__form input:focus {
  outline: none;
  border-bottom: 2px solid rgb(60, 97, 219);
}

.login__form input::-webkit-input-placeholder {
  color: #ccc;
}
.login__form input::-moz-placeholder {
  color: #ccc;
}
.login__form input:-ms-input-placeholder {
  color: #ccc;
}

.login__form input:first-of-type {
  margin-bottom: 30px;
}

.login__form button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  width: 358px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  transition: 0.8s ease;
  margin: 216px 0 0;
  padding: 0;
}

.login__form button:hover {
  opacity: 0.85;
  cursor: pointer;
}
